<h1>title: <%= @video.title %></h1>
<p>description: <%= @video.description %></p>
<p>uploader_id: <%= @video.uploader_id %></p>

<video width="320" height="240" controls>
  <source src="<%= url_for(@video.video) %>" type="video/mp4">
</video>