body {
  margin: 0;
  padding: 0;
}

.content {
  box-sizing: border-box;
  // border: 3px solid purple;
  // background-color: yellow;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 50px; // adjust
}

.header {
  box-sizing: border-box;
  // border: 2px solid green;
  // background-color: red;
  height: 75px; // adjust
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}