.comment {
  margin-top: 28px;
  display: flex;
  flex-direction: row;
  font-family: 'Roboto', sans-serif;
}

.comment-main {
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.comment-author {
  font-size: 13px;
  color: #030303;
  font-weight: 600;
}

.comment-date {
  font-size: 13px;
  color: #606060;
  margin-left: 8px;
}

.comment-body {
  margin-top: 12px;
  font-size: 14px;
  color: #030303;
}

.comment-response {
  margin-top: 12px;
}

.thumb-button {
  height: 32px;
  width: 32px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.comment-thumb {
  font-size: 14px;
  cursor: pointer;
}

.thumb-button:hover .comment-thumb {
  color: #606060;
}

.comment-voted {
  color: #065FD4;
}

.comment-score {
  margin-left: 8px;
  color: #606060;
}

.thumbs-down-button {
  margin-left: 18px;
}

.comment-reply-button {
  margin-left: 16px;
  height: 32px;
  width: 69px;
  color: #606060;
  font-size: 14px;
  font-weight: 500;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.view-replies-button {
  margin-top: 8px;
  color: #065FD4;
  font-size: 14px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 500;
}

.view-replies-button-text {
  margin-left: 12px;
}