.yalltube-logo {
  width: 368px;
  height: 24px;
  text-align: center;
  font-size: 18px;
  font-family: 'Roboto Condensed', sans-serif;
}

.yalltube-logo-icon {
  color: #FF0000;
}

.yalltube-logo-signup {
  text-align: left;
}