.recommendation-item {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  display: flex;
}

.recommendation-thumbnail {
  width: 168px;
  height: 94px;
}

.recommendation-info {
  margin-left: 8px;
  display: flex;
  flex-direction: column;
}

.recommendation-title {
  color: #030303;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
}

.recommendation-uploader {
  margin-top: 10px;
  color: #606060;
  text-decoration: none;
}

.recommendation-stats {
  margin-top: 4px;
  color: #606060;
}