
// TODO - Delete after getting RecommendationsItem working
.rec-index-item {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  // border: 1px solid black;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  text-decoration: none;
  margin-bottom: 15px;
}

.recommendations {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}