.search-result-video {
  margin-bottom: 16px;
  display: flex;
  font-family: 'Robot', sans-serif;
  font-size: 13px;
  color: #060606;
}

.search-thumbnail {
  width: 360px;
  height: 202px;
}

.search-result-video-info {
  margin-left: 16px;
  display: flex;
  flex-direction: column;
}

.search-result-video-title {
  color: #030303;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}

.search-result-video-views-date {
  margin-top: 4px;
  color: #606060;
}

.search-result-video-uploader {
  margin-top: 6px;
  color: #606060;
  text-decoration: none;
}