.upload-page {
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  padding-top: 16px;
  padding-bottom: 40px;
}

.upload-input-files-container {
  border: 1px solid #dadce0;
  background-color: white;
  width: 743px;
  height: 385px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.upload-icon {
  color: #cccccc; // definitive color
  font-size: 80px;
  margin-bottom: 20px;
}

.upload-input-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 220px;
  padding: 10px;
  margin: 20px;
  background-color: white;
  border: none;
}

.upload-input-button:hover .upload-icon {
  color: #cc0000;
}

.upload-input-hidden {
  display: none;
}

.upload-file-prompt-text {
  font-family: 'Roboto', sans-serif;
  color: #030303;
  font-size: 18px;
}

.upload-file-info {
  font-family: 'Roboto', sans-serif;
  color: #030303;
  font-size: 12px;
}