.upload-page {
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  padding-top: 16px;
  padding-bottom: 40px;
}

.upload-input-files-container {
  border: 1px solid #dadce0;
  background-color: white;
  width: 400px;
  height: 385px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.upload-icon {
  color: #cccccc; // definitive color
  font-size: 80px;
}

.upload-input-button:hover .upload-icon {
  color: #cc0000;
}

.upload-input {
  display: none;
}