.video-page-container {
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  padding-top: 24px;
}

.video-page {
  // padding: 24px 64px;
  display: flex;
  flex-direction: row;
  font-family: 'Roboto', sans-serif;
}

.video-page-col-1 {
  display: flex;
  flex-direction: column;
  width: 67vw;
}

.video-page-col-2 {
  margin-left: 24px;
}