// Recommended videos
.video-index-item {
  margin: 10px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  // border: 1px solid black;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  text-decoration: none;
}

.video-thumbnail-container {
  width: 269px;
  height: 151px;
}

.rec-thumbnail-container {
  width: 168px;
  height: 94px;
}

.video-index-item-info-container {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}

.video-index-item-info {
  display: flex;
  flex-direction: column;
}

.video-index-item-title {
  color: #030303;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
}

.video-index-item-uploader {
  margin-top: 10px;
  color: #606060;
  text-decoration: none;
}

.video-index-item-views-date {
  margin-top: 4px;
  color: #606060;
}