.video-description {
  margin-top: 20px;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
}

.video-description-header {
  display: flex;
  flex-direction: column;
}

.video-title {
  font-size: 18px;
  font-weight: 400;
  color: #030303;
}

.video-stats-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.video-views-date {
  display: flex;
  font-size: 14px;
  color: #606060;
}

.video-likes-container {
  color: #909090;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.video-thumb {
  margin-left: 24px;
  font-size: 18px;
  cursor: pointer;
}

.video-vote-count {
  margin-left: 8px;
  color: #606060;
  font-size: 13px;
  font-weight: 400;
}

.video-voted {
  color: #065FD4;
}

// TODO - How to make custom styling depending on props?
.video-votes-bar-container {
  margin-top: 20px;
}

.video-description-body {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.video-description-col {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.video-description-main {
  margin-top: 24px;
  margin-left: 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}

.video-uploader {
  font-size: 14px;
  color: #030303;
  font-weight: 600;
}

.video-uploader-subscribers {
  margin-top: 4px;
  font-size: 13px;
  color: #606060;
}

.video-description-text {
  margin-top: 30px;
  font-size: 14px;
  color: #030303;
}

.video-uploader-subscribe {
  margin-top: 24px;
  width: 108px;
  height: 36px;
  background-color: #cc0000;
  color: white;
  font-size: 14px;
  border-radius: 2px;
  border: none;
  font-weight: 500;
  outline: none;
  cursor: pointer;
}

.subscribed {
  background-color: #ececec;
  color: #606060;
}