.video-description {
  margin-top: 20px;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
}

.video-description-header {
  display: flex;
  flex-direction: column;
}

.video-title {
  font-size: 18px;
  font-weight: 400;
  color: #030303;
}

.video-stats-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.video-views-date {
  display: flex;
  font-size: 14px;
  color: #606060;
}

.video-likes-container {
  color: #909090;
  font-size: 16px;
}

.video-thumb {
  cursor: pointer;
}

.video-vote-count {

}

.video-voted {
  color: #065FD4;
}